<a href="https://colab.research.google.com/github/2403A51L1/Py-for-DataScience/blob/main/pyLab06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
student_data = {
    "StudentID": [1, 2, 3, 4, 5, 6],
    "Name": ["Harshu","Ajay","Varshu","Kiran","Keer","Charan"],
    "Gender": ["F", "Male", "F", "M", "F", "Male"]
}
df_students = pd.DataFrame(student_data)
print("Before Cleaning:\n", df_students)
# Convert all to lowercase, then map to standardized labels
df_students["Gender"] = df_students["Gender"].str.lower().map({
    "m": "Male",
    "male": "Male",
    "f": "Female",
    "female": "Female"
})
print("After Cleaning:\n", df_students)

Before Cleaning:
    StudentID    Name Gender
0          1  Harshu      F
1          2    Ajay   Male
2          3  Varshu      F
3          4   Kiran      M
4          5    Keer      F
5          6  Charan   Male
After Cleaning:
    StudentID    Name  Gender
0          1  Harshu  Female
1          2    Ajay    Male
2          3  Varshu  Female
3          4   Kiran    Male
4          5    Keer  Female
5          6  Charan    Male

In [10]:
import pandas as pd
file_path = "/content/train_and_test2.csv"
df = pd.read_csv(file_path)
print("Before Cleaning – Missing Values:\n", df.isnull().sum())
if "Age" in df.columns:
    df["Age"] = df["Age"].fillna(df["Age"].mean())
if "Embarked" in df.columns:
    df["Embarked"] = df["Embarked"].fillna(df["Embarked"].mode()[0])
if "Cabin" in df.columns:
    df = df.drop(columns=["Cabin"])
print("After Cleaning – Missing Values:\n", df.isnull().sum())
df.to_csv("cleaned_titanic.csv", index=False)
print("Cleaned dataset saved as 'cleaned_titanic.csv'")

Before Cleaning – Missing Values:
 Passengerid    0
Age            0
Fare           0
Sex            0
sibsp          0
zero           0
zero.1         0
zero.2         0
zero.3         0
zero.4         0
zero.5         0
zero.6         0
Parch          0
zero.7         0
zero.8         0
zero.9         0
zero.10        0
zero.11        0
zero.12        0
zero.13        0
zero.14        0
Pclass         0
zero.15        0
zero.16        0
Embarked       2
zero.17        0
zero.18        0
2urvived       0
dtype: int64
After Cleaning – Missing Values:
 Passengerid    0
Age            0
Fare           0
Sex            0
sibsp          0
zero           0
zero.1         0
zero.2         0
zero.3         0
zero.4         0
zero.5         0
zero.6         0
Parch          0
zero.7         0
zero.8         0
zero.9         0
zero.10        0
zero.11        0
zero.12        0
zero.13        0
zero.14        0
Pclass         0
zero.15        0
zero.16        0
Embarked       0
zero.17        0
zero.18        0
2urvived       0
dtype: int64
Cleaned dataset saved as 'cleaned_titanic.csv'